$verydark: #121213;
$darkgrey: #3a3a3c;
$lightgrey: #818384;
$lightergrey: #babdbe;
$whitish: #d7dadc;
$verywhite: #fafafa;

$lightgreen: #87df87;
$darkgreen: #6bb96b;
$lightyellow: #dfdf8c;
$darkyellow: #a5a51d;

$numberOfGuesses: 6;
$numberOfTiles: 5;

$tileContainerWidth: 300px;
$maxWidth: 500px;
