$darkgrey: #3a3a3c;
$lightgrey: #818384;
$lightergrey: #babdbe;
$whitish: #d7dadc;

$lightgreen: #9ac39a;
$darkgreen: #418941;
$lightyellow: #dedea6;
$darkyellow: #acac4b;

$numberOfGuesses: 6;
$numberOfTiles: 5;

$tileContainerWidth: 300px;
$maxWidth: 500px;
