$verydark: #121213;
$darkgrey: #3a3a3c;
$lightgrey: #818384;
$lightergrey: #babdbe;
$whitish: #d7dadc;
$verywhite: #fafafa;

$lightgreen: #40e040;
$darkgreen: #418941;
$lightyellow: #e6e643;
$darkyellow: #a5a51d;

$numberOfGuesses: 6;
$numberOfTiles: 5;

$tileContainerWidth: 300px;
$maxWidth: 500px;
